/* inspo: https://codepen.io/husain-bhagat/pen/zYoqGqx */

/* .checkout {
  display:flex;
  flex-direction: row;
  position:center;
  align-self: center;

  
  min-height: 100vh;
	width: 100%;
} */
  /* .checkoutItems {
    position: relative;
    float: left;
    left: 10%;
    width: 30%;
    height: auto;
    padding: 1vw;
    padding-top: 2vw;

    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
    background-color: #f2f2f2;
    opacity: 100;
    text-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    min-height: 50vh;
  }

  .paymentInfo {
    position: relative;
    right: 20%;
    width: 30%;
    height: auto;
    padding: 1vw;
    float:right;

    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;

  } */


  .checkout {
    min-width: 850px;
    min-height: 500px;
    width: 60%;
      margin: auto;
      margin-top: 5%;
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
      border-radius: 1.5rem;
      display:flex;
      flex-direction: row;  
  }

  .checkoutItems {
    /* background: #030303; */
    /* width: 25rem; */
    /* display: inline-flex; */
      /* align-items: center;
      justify-content: center; */

    position: relative;

    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 20px;
    background-color: #f2f2f2;
    opacity: 100;
    text-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    width: 40%;
    padding: 2%
  }

  .checkoutItem {
    height: auto;
    display: grid;
    grid-template-columns: 5fr 3fr 1fr;
    font-size: 1.5vw;
    justify-items: start;
  }

  .paymentInfo {
	width: 35rem;
  height:1000%;
	border-bottom-right-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding: 1rem 2rem 3rem 3rem;
}

label {
  display:block;
  font-size: 100%;
}
input{
    color:#030303;
	width: 100%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-family: 'Roboto', sans-serif;
    color: #615a5a;
    font-size: 100%;
  outline:none;
}

.expcvv {
  display:flex;
  justify-content: space-between;
  padding-top: 0.6rem;
}

#cardType
{
    color:#030303;
	  width: 104%;
    padding: 0.5rem;
    border: none;
    border-bottom: 1.5px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-family: 'Roboto', sans-serif;
    color: #615a5a;
    font-size: 100%;
  outline:none;
}

#checkoutButton{
  border:none;
  border-radius: 30px;
  font-size: 100%;
  padding: 3%;
  height: 100%;
  width: 100%;
  outline:none;
  background-color: #6DA9E4;
  cursor: pointer;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-in-out;
}
#checkoutButton:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}