.navbar {
    background-color: #f2f2f2;
    padding: .5vw;
}

.navbar a {
color: #333;
text-decoration: none;
padding: 10px 15px;
margin-left: 1vw;
margin-right: 1vw;
display: inline-block;
}

.navbar a:hover {
background-color: #ddd;
border-radius: 15px;
}
