/* Product container */
.title {
    margin-top: 1vw;
    margin-bottom: 2vw;
    text-align: center;
    font-size: 4vw;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }


.products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    margin: 1vw;
  }
  
  /* Product image */
  .product img {
    width: 25vw;
    object-fit: scale-down;
    margin-bottom: 0vw;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    
  }
  
  /* Product name */
  .product .name {
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0vw;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  /* Product price */
  .product .price {
    margin-top: .5vw;
    font-size: 1.5vw;
    color: #888;
    text-align: center;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  }

  .buy{
    background-color: transparent;
    border: .2vw solid rgb(19, 19, 19);
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: .25vw;
    padding-bottom: .25vw;
    border-radius: .9vw;
    font-size: 1.25vw;

  }
  
  .buy:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
    
  }

  .subButton:hover, .addButton:hover {
    background-color: #d6d6d6;
    
    color: black;
    cursor: pointer;
    border-radius: .9vw;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  .subButton, .addButton, .buyText {

    flex: 1;
    margin-right: 5px;
    background-color: transparent;
    border: transparent;
    font-size: 1.25vw;
    width: 3vw;
    height: 2vw;
    text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  }
  

  .buyButton{
    display: flex;
    background-color: #f2f2f2;
    border-radius: .9vw;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  }

  .buyButton button:last-child {
    margin-right: 0;
  }