/* button {
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #7439db;
  }
  label {
    text-align: left;
    padding: 0.25rem 0;
  }
  
  input {
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 10px;
  }

  .link-btn {
    background: none;
    color: white;
    text-decoration: underline;
  } */

  form{
    display: flex;
    justify-content:center;
    align-items: center;
  }